# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/School/FileContentIndex/78b72ac7-f062-46ae-ac13-ece7d5595930.vsidx
.vs/School/FileContentIndex/893c393f-33b3-42dd-b976-8c0ff04e5031.vsidx
.vs/School/FileContentIndex/98045184-cf14-4f5a-91fb-87cf2d9bf174.vsidx
.vs/School/FileContentIndex/d3473648-019d-4c9b-8530-f5d25bb33971.vsidx
.vs/School/v17/Browse.VC.db
.vs/School/v17/Browse.VC.db-shm
.vs/School/v17/Browse.VC.opendb
.vs/School/v17/ipch/AutoPCH/aa4016a98d1d1f25/DRIVER.ipch
/.vs/School
School/x64/Debug/vc143.pdb
x64/Debug/School.pdb
